h2, th, td, p, li
{
    font-family: "Sans-serif";
}

/*table, th, td
{
    border: 1px solid #FF6600;
}

th
{
    background-color: #FF6600;
}*/

td
{
    vertical-align: text-top;
}

a:link {color: #000000;}
a:visited {color: #000000;}
a:hover {color: #FF6600;}
a:active {color: #000000;}
